html, body {
    height: 100%

}
  
ul {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  width: 100%;
}
  
li.menuItem {
  flex: 1 0 auto;
  padding: 10px;
  margin: 2px;
  background-color: grey;
  text-align: center;
}
  
li.menuItem:hover {
  background-color: blue;
}
  
button.hamburger {
  display: none;
  padding: 10px;
  margin: 2px;
  background-color: grey;
}

#navButton {
  display: none;
  /* padding: 10px;
  margin: 2px; */
  /* background-color: grey; */
}

.header-button {
  padding: 10px;
  margin: 2px;
}



h2 {
  padding: 10px;
  margin: 2px;
  /* background-color: grey; */
}

/* .pallet {
  opacity: 95%;
}

.whitescreen {
  opacity: 100%;
} */



/* .wrapper {
  display: flex;
  transition: margin .5s;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  

} */
  
@media screen and (max-width : 760px) {
    ul {
        flex-direction: column;
        display: flex;
        width: 100vw;
        height: 80vh;
        /* transition: transform 0.3s ease-in-out;
        transform: translateX(0); */
        /* top: 0;
        right: 0;
        position: relative; */
    }
    
    
  li.menuItem {
    background-color: orange;

  }
  /* button  {
    display: flex;
    top:0;
    left:10px; 
    position: relative;
  } */

  #navButton {
    display: flex;
    /* padding: 10px;
    margin: 2px; */
    /* background-color: grey; */
  }

  /* .wrapper {
    display: flex;
    
    width: 100vw;
    height: 100vh;
    

  } */

  /* button.hamburger {
    display: block;
    position: absolute;
  } */
    
  
  /* button.hamburger:focus + ul.menu {
    display: flex;
    position: absolute

  } */
}
  